body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 4em;
}

h2, h3 {
	text-align: center;
	font-weight: bold;
}

.well {
	color: white;
	background-color: #77777799;
	border-width: 0px;
	border-radius: 1em;
}

#cart, #confirmation, #delivery-info {
	display: none;
}

.order-item:hover {
	cursor: pointer;
}

.item-info {
	background-color: #aaaaaa99;
}

.total {
	color: green;
}