body {
	background-image: url("../bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	text-align: center;
}

.well {
	color: white;
	background-color: #77777799;
}